body{margin: 0px;
    font-family: 'Bebas Neue', cursive;

}


ul{d

}

ul li{
display: inline;

}
 ul li a{
 text-decoration: none;
 color: red;
 padding: 12px 22px;
 float: right;
 }

.topper-banner{
    background-image: url("images/images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

  

h1{
color: green;
    font-size: 50px;
}
h2{    color: brown;
    font-size: 40px;
}


p{
    font-size: 30px;
}
section{
    height: 500px;
  padding-bottom: 150px;
}
.half-width{
width: 42%;
margin-left: 5%;
padding-left: 3%;
float: left;

}

.half-width img{
    width: 100%;
}
.link-button{

  text-decoration: none;
       background-image: linear-gradient(45deg,lightsalmon, tomato);
        padding: 7px 30px;
        border-radius: 5px;
        font-weight: 600;
        color:#31691a;
    font-size: 38px;
    
    }
        
    





.LASTEL{

    text-align: center;}

.highligh-color{
    color: rgb(204, 9, 58);
}


.midle{
    background-color: #F8F9FC;
}

.single-box {
    width: 280px;
    box-shadow: 15px 15px 50px grey;
    border-radius: 26px;
    background-color: white;
    padding: 55px;
    margin: 20px;
}
    .all-h2 h1 h2{
       color:Blue ; 
    }
    .all-h3{
        color: #ad1066;

    }
    .all-ptag{
        color: #4730f1;
    }

.h-hello{
    font-size: 50px;
   text-transform: lowercase;
}

    .box{
      background-image: url("shapes/last box.png");
      background-repeat: no-repeat;
      background-size: cover;
       height: 24px;
       width: 700px;
       
       
       margin: auto;
    }

    
      
    .box-text {
        margin-top: 13px;
        float: left;
        margin-left: 51px;
        margin-bottom: 4px;
        color: #FFFFFF;
        font-size: 40px;
    }
    
    .box-button {
        float: right;
        margin-top: 78px;
        margin-right: 57px;
    }
    .box-chat {
        text-decoration: none;
        font-size: 16px;
        background-image: linear-gradient(45deg,#ff7ae4, tomato);
        margin: -12px 13px;
        padding: 13px 33px;
        border-radius: 4px;
    }



    .stay-ct {
        color: #200bc0;
        text-align: center;
        margin-top: 150px;
        
    }

    .hello{

        color: #268614;
        font-size:100px;
        text-align: center;
        padding-left: 22px;
        padding-right: 11px;
    }  
     .icon {
        text-align: center;
        margin: auto;
        font-size: 100px;

       padding: 1px;
    }